nav {
    a {
        display: block;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 42px;
        font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
        font-size: 1.1em;
    }

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style-type: none;
        justify-content: end;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $color-nav;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    a:link {
        color: $color-link;
        text-decoration: none;
    }

    a:visited {
        color: $color-content-red;
        text-decoration: none;
    }

    a:hover {
        color: $color-link-hover;
        text-decoration: underline;
    }

    a:active {
        color: $color-link-active;
        text-decoration: underline;
    }
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: $color-nav;
}