nav a {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 42px;
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: end;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #eef3f7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:link {
  color: #3463e3;
  text-decoration: none;
}
.dropdown-content a:visited {
  color: #c42c38;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #db8087;
  text-decoration: underline;
}
.dropdown-content a:active {
  color: #6d1521;
  text-decoration: underline;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #eef3f7;
}

#wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-template-areas: "header         header          header" "nav            nav             nav" "main           main            main" "footer-info    footer-info     footer-info" "footer         footer          footer";
}

header {
  grid-area: header;
  height: 160px;
  background-color: #dde7ef;
  border-bottom: 2px solid #c42c38;
}

nav {
  grid-area: nav;
  background-color: #eef3f7;
  top: 0;
}

main {
  grid-area: main;
  background-color: #fbfcfd;
}
main #data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "data-1 data-2" "data-3 data-3";
}

#data-1 {
  grid-area: data-1;
}

#data-2 {
  grid-area: data-2;
}

#data-3 {
  grid-area: data-3;
}

#data-4 {
  grid-area: data-4;
}

footer,
#footer-info {
  display: flex;
  justify-content: space-between;
}

#footer-info {
  grid-area: footer-info;
  background-color: #c6cfd7;
}

#footer-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "footer-box-1 footer-box-2 footer-box-3";
}

#footer-box-1 {
  grid-area: footer-box-1;
}

#footer-box-2 {
  grid-area: footer-box-2;
}

#footer-box-3 {
  grid-area: footer-box-3;
}

footer {
  grid-area: footer;
  display: grid;
  background-color: #b0b8bf;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "footer-1 footer-2 footer-3";
}

#footer-1 {
  grid-area: footer-1;
}

#footer-2 {
  grid-area: footer-2;
}

#footer-3 {
  grid-area: footer-3;
}

@media screen and (max-width: 600px) {
  #wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "nav" "main" "footer-info" "footer";
  }
  main #data {
    grid-template-columns: 1fr;
    grid-template-areas: "data-1" "data-2" "data-3";
  }
  #footer-info {
    grid-template-columns: 1fr;
    grid-template-areas: "footer-box-1" "footer-box-2" "footer-box-3";
  }
  footer {
    grid-template-columns: 1fr;
    grid-template-areas: "footer-1" "footer-2" "footer-3";
  }
  nav {
    position: unset;
  }
  nav ul {
    flex-direction: column;
    text-align: left;
  }
}
a:link,
a:hover,
a:focus,
a:active,
a:visited {
  background: none;
}

a:link {
  color: #3463e3;
  text-decoration: none;
}
a:visited {
  color: #c42c38;
  text-decoration: none;
}
a:hover {
  color: #db8087;
  text-decoration: underline;
}
a:active {
  color: #6d1521;
  text-decoration: underline;
}

.link-content a {
  background: none;
}

#footer-info a {
  background: none;
}

#footer-content a {
  background: none;
}

#nocscript-link a {
  text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #dde7ef;
}

tr:nth-child(even) {
  background-color: #eef3f7;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Close button */
.close-button {
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

html {
  box-sizing: border-box;
  font-size: 1em;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

header h1 {
  font-size: 2.1em;
  font-weight: bold;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1em;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, Georgia, Tahoma, sans-serif;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid #c42c38;
}

header,
main,
footer,
nav,
#footer-info {
  padding: 1em;
}

section {
  padding: 0.75em;
  border-style: ridge;
  border-radius: 10px;
  margin: 1em;
  box-shadow: 10px 10px #c6cfd7;
}

.result {
  padding: 0.75em;
  border-style: ridge;
  border-radius: 10px;
  margin: 1em;
  background-color: #c42c38;
  color: #fbfcfd;
}

#mySelect {
  font-size: 16px;
  height: 2.2em;
}

button {
  margin-top: 2em;
  margin-left: 1em;
  margin-bottom: 2em;
  width: 15em;
  height: 3em;
  border: 1px solid #b0b8bf;
  border-radius: 5px;
  box-shadow: 0 4px 8px lightgray;
  transition: box-shadow 0.3s ease;
}
button:hover {
  background-color: #c6cfd7;
  border-bottom: 1px solid #c42c38;
}

p {
  line-height: 1.4;
  margin-left: 10px;
}

section ul li {
  padding: 2px;
}

.logo-image {
  padding-right: 10px;
  margin-right: 20px;
  float: left;
}

.site-image-right {
  float: right;
  margin-left: 15px;
  box-shadow: 5px 5px 5px lightgray;
}

.site-image-left {
  float: left;
  margin-right: 15px;
  box-shadow: 5px 5px 5px lightgray;
}

footer,
#footer-info {
  line-height: 1.6;
}

@media screen and (min-width: 901px) and (max-width: 1000px) {
  html {
    font-size: 0.95em;
  }
}
@media screen and (min-width: 701px) and (max-width: 900px) {
  html {
    font-size: 0.85em;
  }
}
@media screen and (max-width: 700px) {
  html {
    font-size: 0.75em;
  }
}