$color-header: #dde7ef;
$color-nav: #eef3f7;
$color-main: #fbfcfd;
$color-content-red: #c42c38;
$color-footer-info: #c6cfd7;
$color-footer: #b0b8bf;
$color-image-shadow: lightgray;
$color-button-border: #b0b8bf;
$color-button-hoverbackground: #c6cfd7;

$color-link: #3463e3;
$color-link-hover: #db8087;
$color-link-active: #6d1521;

$color-black: #000000;