button {
    align-content: flex-end;
    margin-top: 2em;
    margin-left: 1em;
    margin-bottom: 2em;
    width: 15em;
    height: 3em;
    border: 1px solid $color-button-border;
    border-radius: 5px;
    box-shadow: 0 4px 8px $color-image-shadow;
    transition: box-shadow 0.3s ease;

    &:hover {
        background-color: $color-button-hoverbackground;
        border-bottom: 1px solid $color-content-red;
    }
}

#mySelect {
    font-size: 16px;
    height: 2.2em;
}